:root {
    --main-color: #D65A31;
    --secondary-color: #222831;
    --font-color:#222831;
    --link-color:#F2F7A1;
    --link-color-hover:#00337C;
    --gap: 15px;
}

body, h1, h2, ul, p{
    margin: 0;
}

ul{
    padding: 0;
    list-style: none;
}

a {
    color: var(--link-color);
    text-decoration: none;
    transition: 0.3s;
}

a:hover,
a:focus,
a:active{
    color: var(--link-color-hover);
}

html {
    background-color: var(--secondary-color);
    color: var( --font-color);
}

.avatar, header, main, h1, .links, .description{
    margin-bottom: var(--gap);
}

body,
.avatar{
    margin: 0 auto;
}

body{
    display: flex;
    flex-direction: column;
    width: 290px;
    min-height: calc(100vh - var(--gap) * 2);
    background-color: var(--main-color);
    padding: var(--gap);
}

header{
    position: relative;
}

.language{
    position: absolute;
    top: 0;
    right: 0;
}

.avatar{
    --avatar-size: 150px;
    display: block;
    width: var(--avatar-size);
    height: var(--avatar-size);
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid var(--link-color);
}

.nickname{
    font-size: 20px;
}

h1,
.nickname,
.description,
footer {
    text-align: center;
}

h1 {
    font-size: 26px;
}


.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap);
}

.links a:hover {
    opacity: 0.8;
}

.links img {
    --link-size: 30px;
    width: var(--link-size);
    height:var(--link-size);
}

.large-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 35px;
    border: 2px solid var(--link-color);
    background-color: var(--link-color-hover);
}

.large-button:hover {
    background-color: var(--link-color);
}

footer{
    margin-top: auto;
}

@media screen and (min-width: 440px) {
    body{
        width: 410px;
    }
}

@media screen and (min-width: 530px) {
    body{
        width: 500px;
    }

    .avatar{
        --avatar-size: 200px;
        width: var(--avatar-size);
        height: var(--avatar-size);
    }


    h1 {
        font-size: 32px;
    }

    .nickname {
        font-size: 26px;
    }

    .links img {
        --link-size: 35px;
        width: var(--link-size);
        height:var(--link-size);
    }

    .large-button{
        height: 50px;
        font-size: 20px;
    }

    .text {
        font-size: 18px;
    }
}

